body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: auto;
}

.hero-section {
  position: relative;
  height: 100vh;
  background-image: url('/images/image\ \(3\).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.instructions {
  display: none;
  text-align: center;
  color: white;
  font-size: 16px;
}

@media (min-width: 768px) {
  .instructions {
    display: block;
  }
  .navigation-links {
    display: none;
  }
}

.navigation-links {
  display: none; /* Ocultamos los enlaces de navegación por defecto */
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

.navigation-links a {
  margin: 0 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 20px;
}

@media (max-width: 768px) {
  .poem-container {
    padding-bottom: 50px; /* Espacio para los enlaces de navegación */
  }

  .navigation-links {
    display: block; /* Mostramos los enlaces de navegación en pantallas pequeñas */
  }
}

#audio-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
#mute-svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

