body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .poem-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Agregamos posición relativa al contenedor */
  }

  .poem-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .poem-content {
    margin-bottom: 20px;
  }

  .poem-author {
    font-style: italic;
    margin-bottom: 10px;
    color: #494848;
  }

  .poem-date {
    font-size: 14px;
    color: #a1a1a1;
    margin-bottom: 20px;
  }


  .navigation-links {
    display: none; /* Ocultamos los enlaces de navegación por defecto */
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .navigation-links a {
    margin: 0 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
  }

  
  @media (max-width: 768px) {
    .poem-container {
      padding-bottom: 50px; /* Espacio para los enlaces de navegación */
    }

    .navigation-links {
      display: block; /* Mostramos los enlaces de navegación en pantallas pequeñas */
    }
  }